/**************************
Global Styles
**************************/
* {
	box-sizing: border-box;
}

body {
	font-family: 'Merriweather', serif;
	text-align: center;
	line-height: 1.4;
}

.wrapper {
	width: 95%;
	margin: 0 auto;
}

form {
	margin: auto;
	max-width: 800px;
}


/**************************
Header Styles
**************************/
.headline {
	height: 100px;
	background-color: #202D3B;
	color: white;
	margin: 0 auto;
	padding-top: 30px;
	text-transform: uppercase;
}

.main-header {
	padding: 2em 0 3em;
	border-bottom: 5px solid #202D3B;
}



/**************************
Form Styles
**************************/
.fieldset-1 {
	margin-top: 2em;
	background-color: #A4CEF8;
	padding-top: 3em;
}

.main-form {
	margin-top: 6px;
	border-top: 2px solid #202D3B;
	text-align: left;
}

.form-contact-headline {
	margin: 40px 0;
	font-weight: bolder; 
}

legend span{
	font-size: 1.5em;
	background-color: white;
	text-decoration: underline;
}

label, 
.font-resize {
	font-size: 1.2em;
}

.newsletter-headline {
	padding: 40px 0 20px;
	margin-top: 30px;
	margin-bottom: 2.2em;
}

.divider {
	margin-top: 2.5em;
	background: #202D3B;
	height: 3px;
	border: none;
} 

.contact-text {
	width: 100%;
	height: 70px;
	margin: .7em auto 2em;
	border: none;
	border-radius: 7px;
	background-color: #D1D1D1;
	padding-left: 30px;
}

.contact-text-1 {
	width: 50%;
	height: 70px;
	margin: 1em auto;
	border: none;
	border-radius: 7px;
	background-color: #D1D1D1;
	padding-left: 30px;
}

.contact-text-2 {
	width: 100%;
	height: 150px;
	margin: 1em auto;
	border: none;
	border-radius: 7px;
	background-color: #D1D1D1;
	padding-left: 30px;
}

.contact-text:focus,
.contact-text-1:focus,
.contact-text-2:focus,
#state:focus,
textarea:focus {
	outline: none;
	border: 3px solid darkblue;
}

#state {
	height: 70px;
	width: 100%;
	margin: 1em auto;
	border: none;
	border-radius: 7px;
	background-color: #D1D1D1;
	padding-left: 30px;
}

.newsletter-info {
	margin: 0 auto 0;
}

.newsletter-info-1 {
	margin: 1.2em auto 0;
}

.topic-text {
	margin-top: 2em;
}

button[type="submit"] {
	width: 100%;
	height: 100px;
	margin: .7em auto 1em;
	border: none;
	border-radius: 7px;
	background-color: #39C0A0;
	font-size: 2em;
	font-weight: bold;
	color: white;
	outline: none;
}

input {
	transition: background-color 2s;
}

input:focus,
select:focus,
textarea:focus {
	background-color: black;
	color: white;
}

input[id="name"]::placeholder,
input[id="mail"]::placeholder,
input[id="phone"]::placeholder,
input[id="street"]::placeholder,
input[id="city"]::placeholder,
input[id="zip"]::placeholder {
	text-align: right;
	padding-right: 2em;
	font-style: italic;
}

input[type="checkbox"] {
	margin: 15px auto;
}

input[type="checkbox"] + label {
	margin-left: 15px;
}

input[type="radio"] {
	margin: 15px auto;
}

input[type="radio"] + label {
	margin-left: 15px;
}

.copyright {
	text-align: center;
	font-style: italic;
}

.bottom {
	height: 200px;
}




/**************************
Media Queries: 768px
**************************/
@media (min-width: 768px) {
	.wrapper {
		width: 68%;
		margin: 0 auto;
	}

	.left-align {
		display: flex;
		flex-direction: column;
	}

	.flex-contact {
		display: flex;
	}

	.flex-contact > label {
		margin-right: auto;
		width: 32%;
		padding-top: 2em;
	}

	.flex-contact > input, select {
		width: 70%;
		margin-right: 0;
	}

	input[id="zip"] {
		margin-left: 0;
	}

	label[for="zip"] {
		margin-right: 0;
	}

	#state {
		width: 68%;
	}
}